:root {
    background: #E1F8F6;
    --main-color: #2CBFB4;
    --secondary-color: #E1F8F6;
    --text-color:#827676;
    --pane-padding: 5px 42px;
    --main-font:  Nunito;
    scroll-behavior: smooth;
}

::selection{
    background-color:  #8ceee7a2;
}

@font-face{ 
    font-family: "Nunito";
    src: url(font/static/Nunito-Medium.ttf)
}

@font-face{ 
    font-family: "NunitoRegular";
    src: url(font/static/Nunito-Regular.ttf)
}





body{
    margin-top: 0;
    font-family: var(--main-font)
}




.header{
    width:40vw;
    display:flex;
    justify-content: space-evenly;
    background-color: var(--main-color);
    position:relative;
    margin: 0 auto;
    font-family: NunitoRegular;
    font-size:2.5vw;
    margin-bottom:2vh;
    z-index:1000;
}

.header a{
    text-decoration: none;
    color: white
}

.header a:hover{
    text-decoration: underline;
    color: white
}


.container{
    padding-top:30vh;
    width: auto;
    height: auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.container img{
    width: 180px;
    margin: 40px 40px 40px 40px;
    transition: transform .4s;
}

.container img:hover{
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1);
}