:root {
    background: #E1F8F6;
    --main-color: #2CBFB4;
    --text-color:#827676;
    --pane-padding: 5px 42px;
    --main-font:  Nunito;
    scroll-behavior: smooth;
}

@font-face{ 
    font-family: "Nunito";
    src: url(font/static/Nunito-Medium.ttf)
}

@font-face{ 
    font-family: "NunitoRegular";
    src: url(font/static/Nunito-Regular.ttf)
}





body{
    margin-top: 0;
    font-family: var(--main-font)
}

p{
    font-family: Nunito;
    color: var(--text-color);
}

h2{
    padding: 0 0 0 0 ;
    margin: 0 0 0 0;
}

.home-container{
    width:100%;
    height: auto;
    padding-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    z-index: 0;
    padding-bottom: 11vh;
}


.home-info_container{
    padding-top: 50px;
    position: relative;
    margin-left: 100px;
    padding:5px;
    width:auto;
    display: inline-block;
    flex-direction: column;
    justify-content:space-around;
    flex-wrap: wrap;
}

.container{
    height: 100vh;
    padding-left: 10%;
}

.header{
    width:80vh;
    display:flex;
    justify-content: space-evenly;
    background-color: var(--main-color);
    position:relative;
    margin: 0 auto;
    font-family: NunitoRegular;
    font-size:2rem;
    margin-bottom:2vh;
    z-index:1000;
}

.header a{
    text-decoration: none;
    color: white
}

.header a:hover{
    text-decoration: underline;
    color: white
}


.textzone{
    background-color: floralwhite;
    font-size: 0.92rem;
    border-radius: 3em;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5px 20px 5px 20px;
    width:35%;
    height: auto;
    border:groove var(--main-color) 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.title {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    padding:0;
    justify-content: center;
    position: relative;
    font-size: 5rem;
    color: var(--main-color)
}


.section-title {
    margin-top: 5px;
    margin-bottom: 5px;
    padding:0;
    font-size: 3rem;
    text-align: center;
    color: var(--main-color)
}

.title:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.title::before {
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    background: rgba(189, 230, 247, 0.788);
}

.sub-title{
    width :50%;
    font-size: 40px;
    color: var(--text-color)
}

.typing-demo {
    width: 39ch;
    animation: typing 3s steps(39), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.80em;
}
  
@keyframes typing {
    from {
        width: 0
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent
    }
}


.ring ul{
    z-index:1000;
    display:flex;
    flex-direction: column;
    position:fixed;
    padding:10px;
} 
.ring li {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
    margin-bottom: 20px ;
	padding: 10px;
	list-style: none;
}
 
.ring li:hover {
	cursor: pointer;
}
 
.ring li:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: -6px;
	top: -6px;
	border-radius: 50%;
	border: 6px dashed var(--main-color);
}
 
.ring li > div {
	height: 100%;
	background: #92ece0;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	color: rgb(255, 255, 255);
    
}
 
@-webkit-keyframes circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(-360deg); }
}
 
.ring li:hover:before {
	-webkit-animation: circle 4s infinite linear;
}
 
.ring li:hover:before {
	border-color: #7393c4;
}
 
.ring li:active:before {
	border-color: rgb(29, 135, 143);
}
 
.ring li:hover > div {
	background: #385d96;
}
 
.ring li:active > div {
	background: #20978fbd;
}
 

@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,20px); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,20px); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-20px); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,20px); opacity: 0; }
  }
  
.scroll-down-arrow {/*Animation webkit importée*/

    /*Url de la flèche blanche*/
	background-image: url(down-arrow.png);
	background-repeat: no-repeat;/*Pour que l'image ne se répète pas vers la droite*/
}

.scroll-down-link {
	position: absolute; /*La classe background a été mise en Position relative pour que le absolute se base par rapport à celle-ci*/
	z-index: 100;
	cursor:pointer; /*Changer la nature du curseur en main qui pointe*/
	height: 100px;
	width: 150px;
	margin: 0px 0 0 -40px;
	left: 50%;
	bottom: 35px;
	-webkit-animation: fade_move_down 2s ease-in-out infinite;/*Animation webkit importée*/
	-moz-animation:    fade_move_down 2s ease-in-out infinite;
	animation:         fade_move_down 2s ease-in-out infinite;
}


/*CAROUSEL*/


.carousel {
    margin-right: 2rem;
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: relative;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    width: 100%;
    height:80vh;
    padding-top: 5vh;
    background-color: #BCD2F3;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    
}

.carousel-item img {
    display: block;
    height: auto;
    width: auto;
    max-width: 50%;
    max-height: 90%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}




button {
    background:transparent;
    color:var(--main-color);
    border-color:var(--main-color);
    border-width:3px;
    border-style: solid;
    position:relative;
    margin:1em;
    display:inline-block;
    padding:0.8em 1em;
    transition:all 0.3s ease-in-out;text-align:center;
    font-family:var(--main-font);
    font-weight:bolder;
    cursor: pointer;
}

button:before, button:after {
    content:'';
    display:block;
    position:absolute;
    border-color:#454545;
    box-sizing:border-box;
    border-style:solid;
    width:1em;
    height:1em;
    transition:all 0.3s ease-in-out
}

button:before {
    top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;
}

button:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;
}

button:hover:before, button:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);border-color:#fff
}
button:hover {
    color:#353535;
    background-color:#fff;
    border-color:#fff
}

.panel {
    max-width:960px;
    text-align:center;
    position:relative;
    margin:auto;
}


.pink button:before, .pink button:after  {border-color:var(--main-color)}
.pink button:hover:before, .pink button:hover:after {border-color:var(--main-color);}
.pink button:hover {color:#fff;background-color:var(--main-color);border-color:var(--main-color);}
.pink .panel {max-width:960px;text-align:center;position:relative;margin:auto;}