@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: #E1F8F6;
    color: #cdcdcd;
    font-family: 'Roboto', sans-serif;
}

a { 
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}
a:hover, a:active {
    color: #1C7A73;
}

nav {
    float: left;
    width: 0;
    height: 0;
}


.nav-data { 
    position: absolute;
    width: 100px;
    margin: -100px 0 0 -50px;
    padding: 125px 10px 40px;
    background: #A1B09E;
    list-style-type: none;
}

.nav-data li { 
    padding: 15px 28px; 
    font-size: 16px;
}


.nav-data li a {
    padding: 0;
} /* padding: 25px 50px */

.nav-data .separator {
    padding: 0;
    border-bottom: 3px solid #e6e7ea;
    cursor: default;
    margin: 6px 0;
}


#clickNav { /*menu burger*/
    
    position: absolute;
    top: 40px;
    left: 45px;
    z-index: 1;
}
#clickNav input { 
    display: block;
    width: 40px; 
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /*checkbox invisible*/
    z-index: 9999;
    -webkit-touch-callout: none;
}
#clickNav input:checked ~ ul { /*apparition du menu on click de la checkbox*/
    -webkit-transform: none;
    transform: none;
}

#clickNav span { 
    display: block; 
    width: 33px; /*taille des traits du menu*/
    height: 4px; /*épaisseur des traits du menu*/
    margin-bottom: 5px; /*espacement entre les traits*/
    position: relative;
    background: #1C7A73;
    border-radius: 3px;
    z-index: 1;
}

#clickNav span { /*transition de l'icone menu burger*/
    -webkit-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),/*https://www.w3schools.com/CSSref/func_cubic-bezier.asp?msclkid=d91e16bfc7ad11ec88828939d8c28977*/
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#clickNav span:first-child { 
  transform-origin: 0% 0%;
}
#clickNav span:nth-last-child(2) { 
  transform-origin: 0% 100%;
}

#clickNav input:checked ~ span { /*quand la checkbox est sélectionnée, animation du trait du haut*/
  opacity: 1; 
  /*rotation*/
  transform: rotate(45deg) translate(-2px, -1px); 
  background: #ffffff;
}

#clickNav input:checked ~ span:nth-last-child(3) { /*span:nth-last-child(3) --> le troisième enfant du span (le trait du milieu)*/
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#clickNav input:checked ~ span:nth-last-child(2) {  /*trait du bas*/
  transform: rotate(-45deg) translate(0, -1px);
}

.nav-data { /*apparition du block caché en padding -100*/
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); /*la transition qui fait un effet lent d'apparition*/
}